<html>
    <head>
        <title>Add Data</title>
        <link rel="stylesheet" href="styles_add.css">
    </head>
    <body>
        <h1 class="c1">Add a product</h1>
        <center>
            <div id="div">
                <form action="add" method="POST">
                    <label>Product Id:</label>&nbsp;
                    <input type="number" name="pid"><br><br><br>
                    <label>Product type:</label>&nbsp;
                    <input type="text" name="product_type"><br><br><br>
                    <label>Brand:</label>&nbsp;
                    <input type="text" name="brand"><br><br><br>
                    <label>Size:</label>&nbsp;
                    <input type="number" name="size"><br><br><br>
                    <label>Stock:</label>&nbsp;
                    <input type="number" name="stock"><br><br><br>
                    <label>Price:</label>&nbsp;
                    <input type="number" name="price"><br><br><br><br><br><br>
                    <button type="submit" class="c4">Submit</button>
                </form>
            </div><br><br>
            <a href="/" class="c3"><button class="c5">Back to Home Page</button></a>
        </center>
    </body>
</html>