<html>
    <head>
        <title>Delete Data</title>
        <link rel="stylesheet" href="styles_delete.css">
    </head>
    <body>
        <h1 class="c1">Delete a product</h1>
        <center>
            <div id="div">
                <form action="delete" method="POST">
                    <label>Product Id:</label>&nbsp;
                    <input type="number" name="id"><br><br><br><br><br><br>
                    <button type="submit" class="c4">Delete</button>
                </form>
            </div><br><br>
            <a href="/" class="c3"><button class="c5">Back to Home Page</button></a>
        </center>
    </body>
</html>