<html>
    <head>
        <title> Update Data</title>
        <link rel="stylesheet" href="styles_update.css">
    </head>
    <body>
        <h1 class="c1">Update stock of a product</h1>
        <center>
            <div class="div">
                <form action="update" method="POST">
                    <label>Product Id:</label>&nbsp;
                    <input type="number" name="id"><br><br><br>
                    <label>New Stock:</label>&nbsp;
                    <input type="number" name="stock"><br><br><br><br><br><br><br>
                    <button type="submit" class="c4">Update</button>
                </form>
            </div><br><br>
            <a href="/" class="c3"><button class="c5">Back to Home Page</button></a>
        </center>
    </body>
</html>